/*-- scss:defaults --*/

// Import Google fonts
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Sen:wght@400..800&display=swap');

// Colors
$dark-green: #858E79;
$light-green: #D1D9CE;
$cream: #FDFBF7;
$gray: #64605f;
$purple: #9158A2;
$orange: #ad7237;

$navy: #360185;
$dark-purple: #8F0177;
$red: #DE1A58;
$yellow: #F4B342;

// Base document colors
//$navbar-bg: $cream; // navbar
//$navbar-fg: $dark-green; // navbar foreground elements
//$navbar-hl: $purple; // highlight color when hovering over navbar links
//$body-bg: $light-green; // page background 
//$body-color: $gray; // page text 
//$footer-bg: $cream; // footer 
//$link-color: $purple; // hyperlinks 

$navbar-bg: $red; // navbar
$navbar-fg: $yellow; // navbar foreground elements
$navbar-hl: $dark-purple; // highlight color when hovering over navbar links
$body-bg: $cream; // page background 
$body-color: $navy; // page text 
$footer-bg: $cream; // footer 
$link-color: $red; // hyperlinks 

// Inline code
$code-bg: $cream; // inline code background color
$code-color: $purple; // inline code text color

// Code blocks
$code-block-bg: $cream; // code block background color 
